@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container {
  width: 20rem;
  height: 496px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.qr_image {
  width: 18rem;
  height: 18rem;
  margin: 1rem 1rem;
  border-radius: 10px;
}
.text_container {
  width: 18rem;
  margin: 0 auto;
}
.title {
  color: #1f314f;
  font-weight: 700;
  font-size: 1.375rem;
  text-align: center;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: #7d889e;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 19px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
