@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.main_container {
  width: 320px;
  height: 497px;
  background-color: #fff;
  margin: 85px auto 16px;
  border-radius: 20px;
}

.qr_image {
  width: 288px;
  height: 288px;
  margin: 16px 16px;
  border-radius: 10px;
}
.text_container {
  width: 288px;
  height: 129px;
  margin: 0 auto;
}
.title {
  color: #1f314f;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  color: #7d889e;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding: 16px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Responsive design*/
@media screen and (min-width: 1000px) {
  .main_container {
    margin: 152px auto 16px;
  }
}
